html{
    font-size: 62.5%;
}
body{
    margin: 0;
    font-family: sans-serif;
    color: #f9f9f9;
    background-color: #333;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    font-size: 1.5rem;
}
/*main*/
main{
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*form*/
fieldset{
    padding: 40px 100px;
    margin: 20px;
    border-radius: 15px;
    border: none;
    background-color: #4f4f4f;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.2);
}
legend{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 auto;
}
.form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.form div{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}
.form input{
    padding: 5px 2px;
    border-radius: 5px;
    border: none;
    background-color: #f9f9f9;
}
.form input:focus{
    outline: none;
    box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.5);
}
#add-button{
    display: block;
    margin: 0 auto;
}
/*button*/
.button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #f9f9f9;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color box-shadow 0.5s ease;
}
.button:hover{
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}
/*table*/
table{
    width: 70%;
    border-collapse: collapse;
    background-color: #4f4f4f;
    font-size: 2rem;
}
table th, table td{
    border: 2px solid #222;
    text-align: center;
    padding: 5px;
}
tr:nth-child(even){
    background-color: #333;
}
table .button{
    background-color: #DC3545;
    color: #f9f9f9;
}
table .checkbox{
    accent-color: #2e8b57;
    cursor: pointer;
}
table .completed{
    background-color: #2e8b57;
}